{% extends "auth/taulukko/base_table.html" %}

{% block page_content %}
{{ super() }}
  <table id="data" class="table table-striped">
    <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
{% endblock %}

{% block scripts %}
{{ super() }}
  <script>
    $(document).ready(function () {
      $('#data').DataTable({
        language: {
          "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/"+"{{ kieli }}"+".json"
          },   
        ajax: 'api/data',
        serverSide: true,
        columns: [
          {data: 'username'},
          {data: 'email'}
        ],
      });
    });
  </script>
{% endblock %}
