{% extends "bootstrap/base.html" %}

{% block title %}Liidimanageri{% endblock %}

{% block head %}
{{ super() }}
{{ fontawesome_html() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<script src="{{url_for('static', filename='virherutiinit.js')}}"></script>

{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Liidimanageri</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.liidi') }}">Uusi liidi</a></li>
                <li><a href="{{ url_for('auth.liidit') }}">Liidit</a></li>
                <li><a href="{{ url_for('auth.tilanne') }}">Tilanne</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
                {% else %}
                <li><a href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container content">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}{% endblock %}
</div>
{% block footer %}
<div id="footer">
    <span>&copy; 2021 Jukka Aula</span>
</div>
{%- endblock %}

{% endblock %}

{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}
{{ moment.locale("fi",{
    relativeTime : {
        future : '%s päästä',
        past : '%s sitten',
        s : 'joitakin sekunteja',
        m : 'yksi min',
        mm : '%d min',
        h : 'yksi t',
        hh : '%d t',
        d : 'yksi pv',
        dd : '%d pv',
        M : 'kk',
        MM : '%d kk',
        y : 'yksi v',
        yy : '%d v'
    }
    })
}}
{% endblock %}
